:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewShadow: #f0ead6;
  --previewBg: rgba(251, 249, 243, 0.8);
  --btnColor: black;
}
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body * {
  transition: 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p,
a,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.main-container-post {
  width: 800px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.greeting-wrapper {
  text-align: center;
  align-content: center;
  display: grid;
  /* border: 2px dashed lightcoral; */
  min-height: 10em;
}

.intro-wrapper {
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  background-color: var(--secondaryColor);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 3em 30em; */
  grid-template-areas:
    'nav-wrapper nav-wrapper'
    'left-column right-column';
}
.nav-wrapper {
  display: flex;
  border-bottom: 1px solid var(--borderColor);
  grid-area: nav-wrapper;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}
#navigation {
  margin: 0;
  padding: 10px;
  display: flex;
}
#navigation a {
  color: var(--mainText);
}
#navigation li {
  margin: 5px;
}
.dots-wrapper {
  display: flex;
}
.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  margin: 5px;
}
#dot1 {
  background-color: #fc6058;
}
#dot2 {
  background-color: #fec02f;
}
#dot3 {
  background-color: #2aca3e;
}
.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.left-column h5 {
  text-align: center; 
  line-height: 0;
}
#profile-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
  display: block;
  margin: 0 auto;
}
#theme-options-wrapper {
  display: flex;
  justify-content: center;
}
.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: black;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
}
.theme-dot:hover {
  border-width: 5px;
}
#light-mode {
  background-color: white;
}
#blue-mode {
  background-color: #192734;
}
#green-mode {
  background-color: #78866b;
}
#purple-mode {
  background-color: #7e4c74;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}
#preview {
  width: 300px;
  border: 1.5px solid #13a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}
.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #13a2b8;
  background-color: white;
  position: absolute;
}
#corner-tl {
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
  right: -5px;
}
#corner-bl {
  bottom: -5px;
  left: -5px;
}
#corner-br {
  bottom: -5px;
  right: -5px;
}

.about-wrapper {
  padding-top: 5px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 100px;
}
.social-links {
  display: grid;
  align-content: center;
  text-align: left;
}
.skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

#bio h3 {
  text-align: center;
}

#projects h3 {
  text-align: center;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}
.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
.post-preview {
  background-color: white;
  padding: 15px;
}
.post-title {
  color: black;
  margin: 0;
}
.post-intro {
  color: #4b5156;
  font-size: 14px;
}
.thumbnail {
  width: 100%;
  height: 180px;
  display: block;
  object-fit: cover;
}

.thumbnail-post {
  width: 50%;
  height: 180px;
  display: block;
  object-fit: cover;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--borderColor)ck;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}


#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact h3 {
  text-align: center;
}

#submit-button {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: var(--btnColor);
  border: none;
}
.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}
#contact-form label {
  line-height: 2.7em;
}
@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
  .main-container-post {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav-wrapper'
      'left-column'
      'right-column';
  }
  .right-column {
    justify-content: center;
  }
}

.post img {
  object-fit: fill;
}

